In [1]:
#importing the libraries
import pandas as pd

import pandas_datareader.data as web
from datetime import datetime

In [2]:
#reading the data
df = web.DataReader('NG=F', 'yahoo', start=datetime(2000, 8, 30), end=datetime.today())

In [3]:
df.head()

             High   Low  Open  Close   Volume  Adj Close
Date
2000-08-30  4.815  4.63  4.65  4.805  34954.0      4.805
2000-08-31  4.870  4.74  4.82  4.780  25787.0      4.780
2000-09-01  4.860  4.75  4.75  4.835    113.0      4.835
2000-09-05  4.975  4.84  4.85  4.960  26096.0      4.960
2000-09-06  5.110  4.96  4.99  5.065  32764.0      5.065

In [4]:
#saving the complete data
df.to_csv("dataset/ngp.csv")

### Past 10 years data

In [13]:
past_10 = datetime(2010,1, 1)

In [14]:
df_10 = df[past_10:]

In [15]:
df_10.shape

(3184, 6)

In [16]:
df_10.to_csv("dataset/ngp_10.csv")

### Past 5 years data

In [9]:
past_5 = datetime(2016,1,1)

In [10]:
df_5 = df[past_5:]

In [11]:
df_5.shape

(1674, 6)

In [12]:
df_5.to_csv("dataset/ngp_5.csv")

## Test Data

In [17]:
test_val_data = web.DataReader('NG=F', 'yahoo', start=datetime(2021, 1, 1), end=datetime.today())

In [18]:
val_test_len = len(test)//2

In [21]:
test_val_data

              High    Low   Open  Close    Volume  Adj Close
Date
2020-12-31   2.547  2.429  2.433  2.539  111108.0      2.539
2021-01-04   2.670  2.566  2.626  2.581  128377.0      2.581
2021-01-05   2.732  2.591  2.599  2.702  149828.0      2.702
2021-01-06   2.770  2.606  2.688  2.716  144690.0      2.716
2021-01-07   2.755  2.663  2.722  2.729  135480.0      2.729
...            ...    ...    ...    ...       ...        ...
2022-08-19   9.395  8.870  9.201  9.336   69809.0      9.336
2022-08-22   9.982  9.158  9.174  9.680   92412.0      9.680
2022-08-23  10.028  9.050  9.817  9.193  118634.0      9.193
2022-08-24   9.455  9.100  9.250  9.330  118634.0      9.330
2022-08-25   9.379  9.211  9.239  9.347    2088.0      9.347

[418 rows x 6 columns]

In [19]:
val_data = test_val_data[:val_test_len]

In [20]:
test_data = test_val_data[val_test_len:]

In [25]:
val_data.to_csv("dataset/ngp_val.csv")
test_data.to_csv("dataset/ngp_test.csv")